[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metalite.table1"]
	path = metalite.table1
	url = https://github.com/elong0527/metalite.table1
